<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="mdmInfo" type="DvrManager.WmiConfigurationSection, DvrManager"/>
  </configSections>

  <mdmInfo>
    <info jsonKey="osVersion" wmiQuery="SELECT * FROM Win32_OperatingSystem" wmiProperty="Version" cachOnStart="true" />
    <info jsonKey="cpuUsage" wmiQuery="select * from Win32_PerfFormattedData_PerfOS_Processor" wmiProperty="PercentProcessorTime" />
    <info jsonKey="availableRamKb" wmiQuery="SELECT * FROM Win32_OPeratingSystem" wmiProperty="FreePhysicalMemory" />
    <info jsonKey="dvrManagerVersion" registryPath="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\DvrManager_is1" registryValueName="DisplayVersion" cachOnStart="true" />
    <info jsonKey="dvrManagerPatchVersion" installedSwNameStart="DvrManagerPatch" swProperty="DisplayVersion" cachOnStart="true" />
    <info jsonKey="broshAppVersion" installedSwNameStart="BroshCarTabletApp" swProperty="DisplayVersion" cachOnStart="true" />
    <info jsonKey="broshServiceVersion" installedSwNameStart="BroshCarTabletService" swProperty="DisplayVersion" cachOnStart="true" />
    <info jsonKey="mapsVersion" installedSwNameStart="Brosh Maps" swProperty="DisplayVersion" cachOnStart="true" />
    <info jsonKey="lastAppSync" registryPath="SOFTWARE\Power10CarTablet" registryValueName="LastFullSync" cachOnStart="false" />
    <info jsonKey="OpenotpVersion" registryPath="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{324B4BD6-E00D-417A-ABE4-CEC5043F975F}" registryValueName="DisplayVersion" cachOnStart="true" />
    <info jsonKey="SepVersion" registryPath="SOFTWARE\WOW6432Node\Symantec\Symantec Endpoint Protection\CurrentVersion" registryValueName="PRODUCTVERSION" cachOnStart="true" />
  </mdmInfo>
  
  <appSettings>

    <!--############# MDM API ###############-->
    <add key="MdmUrl_mafila.brsh.local" value="https://brsh1appma1v.mafila.brsh.local/LocationReportService.svc" />
    <add key="MdmUrl_mafilb.brsh.local" value="https://brsh1appmb1v.mafilb.brsh.local/LocationReportService.svc" />
    <add key="MdmUrl_brsh.local" value="https://brsh1app1v.brsh.local/LocationReportService.svc" />
    <add key="MdmUrl" value="https://brsh1app1v.brsh.local/LocationReportService.svc" />
    <add key="CertificateThumbprint" value="" />
    <!-- Frequency of MDM report in seconds-->
    <add key="MdmReportPeriod" value="30" />

    <!--############# Device Settings ###############-->
    <add key="DeviceIp" value="192.168.1.100" />
    <add key="DevicePort" value="9006" />
    <add key="DeviceUserName" value="6sYV2focB/2e8Y1gZQxs+A==" />
    <add key="DevicePassword" value="/BZhtflmK9nw8oBDXoOG3A==" />

    <!--############# Power10 API ###############-->
    <add key="Power10Url" value="http://localhost:6500" />
    <add key="Power10UploadUpdateUrl" value="http://localhost:6501" />

    <!--############# General Settings ###############-->
    <add key="EncryptFiles" value="true" />
    <!-- When GetSnapshop method is called and the picture locations are returned, sometimes the files still in use and early access corrupts the image itself
    So the GetSnapshot calling thread is put to sleep for some time (ms) to ensure files creation finish -->
    <add key="WaitAfterSnapshot" value="3000" />
    <add key="TestTimeoutMinutes" value="120" />
    <!-- If DayStart > NightStart the mode will be NIGHT (all tests, including previous days, will be uploaded) -->
    <add key="DayStart" value="06:00" />
    <add key="NightStart" value="06:39" />
<!--    <add key="CellularNicName" value="Cellular 2" />-->

    <!--############# Tablet Settings ###############-->
    <add key="TestRootFolder" value="C:\DriveVideo" />
    <add key="SnapshotFolder" value="C:\snapshots" />
    <add key="UploadNotificationsFolder" value="C:\UploadNotifications" />
    <add key="VideoFileName" value="video" />
    <add key="GpsRouteFileName" value="route" />
    <add key="NetworkCheckPeriod" value="2" />
    
    <!--############# Upload Settings ###############-->
    <add key="TestDestinationShareName" value="VideoTest" />
    <add key="ServerLastOctet" value="250" />
    <add key="ServerFirstOctetOffset" value="0" />
    <add key="ServerSecondOctetOffset" value="0" />
    <add key="ServerThirdOctetOffset" value="200" />
    <!--<add key="KnownServer" value="10.97.2.102" />-->
    <!-- If server connection detected but the upload process is failed. Try again every X minutes. 0 - no retry -->
    <add key="RetryUploadOnFailureAfter" value="1" />
    <add key="QuickVerification" value="true" />
    <add key="DeepVerification" value="false" />
    <!-- Number of seconds if no upload percentage updates received, the upload process is considered as failed -->
    <add key="NoUploadActivityFailure" value="120" />
    <add key="RestartOnNightConvertFailure" value="true" />

    <!--############# GPS ############################-->
    <add key="LocationUpdatePeriod" value="1" />
    <!-- Dvr | Tablet -->
    <add key="LocationPriority" value="Dvr" />
    <add key="DemoMode" value="false" />
    <add key="DemoRoutFileRoot" value="Routes" />
    <add key="DemoSpeed" value="40" />


  </appSettings>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="DvrManager.EnableCrossOriginResourceSharingBehavior, DvrManager.Common, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp />
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="DvrManager.MotService">
        <endpoint address="" behaviorConfiguration="json" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" contract="DvrManager.IPower10ToMotContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5500" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Green" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Blue" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="Purple" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="Red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level, %message%newline" />
      </layout>
    </appender>

    <appender name="DriveTestForwarder" type="Easy.Logger.AsyncBufferingForwardingAppender, Easy.Logger">
      <lossy value="false" />
      <bufferSize value="512" />
      <Fix value="268" />

      <appender-ref ref="DriveTestEngine" />
    </appender>

    <appender name="DriveTestEngine" type="LoggingUtils.LimitedDays.LimitedStorageAppender, LoggingUtils.LimitedDays">
      <threshold value="DEBUG" />
      <file value="C:\\Logs\\DriveTestEngine.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="200" />
      <maximumFileSize value="25MB" />
      <daysLimit value="45" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} [%thread] %-5level,%logger{1} - %message%newline" />
      </layout>
    </appender>


    <root>
      <level value="DEBUG" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="DriveTestForwarder" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
